@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --cor-dourado: #FB8B24;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex; */
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-dourado);
    text-decoration: none
}

.apresentacao {
    display: inline-flexbox;
    justify-content: space-between;

    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10%;

}

.apresentacao__conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav_logo {
    font-size: 1.5rem;
    color: var(--cor-dourado);
}

.animated_card {
    flex-direction: row;
    position: position;
    height: 12.5rem;
    width: 8.75rem;
    background: #222;
    border-radius: 10px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    height: 12.5rem;
    width: 8.75rem;
}

.animated_card::before {
    position: absolute;
    content: '';
    height: 12.5rem;
    width: 8.75rem;
    background: tomato;
    border-radius: 15px;
    z-index: -1;
    transition: 0.3s;
    animation: animate 2s linear infinite;

}

.animated_card:hover::before {
    height: 13.25rem;
    width: 9.5rem;
    margin-left: -0.4rem;
    margin-top: -0.4rem;
}

@keyframes animate {
    50% {
        filter: hue-rotate(350deg);
    }
}

.fundopng {
    background-color: var(--cor-dourado);
    height: 12.5rem;
    width: 8.75rem;
    border-radius: 15px;
}
